<nav class="navbar navbar-expand-lg bg-body-tertiary bg-dark border-bottom border-body" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      Seminario de Solución de Sistemas Operativos

    </a>
    <div class="navbar-brand text-white">
      <i class="fa-brands fa-windows"></i> &nbsp;
      <i class="fa-brands fa-apple"></i> &nbsp;
      <i class="fa-brands fa-ubuntu"></i> &nbsp;
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
