<div class="modal-header">
  <h4 class="modal-title">Nuevos Procesos</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="exitModal()"></button>
</div>
<div class="modal-body">
  <ul class="alert alert-danger list-group" *ngIf="cantProcesosForm.invalid && cantProcesosForm.touched">
    <li class="list-group-item bg-transparent border-0" *ngIf="cantProcesosForm.get('cantProcesos')?.hasError('required')">El campo es requerido</li>
    <li class="list-group-item bg-transparent border-0" *ngIf="cantProcesosForm.get('cantProcesos')?.hasError('min')">El minimo de procesos es 1</li>
    <li class="list-group-item bg-transparent border-0" *ngIf="cantProcesosForm.get('cantProcesos')?.hasError('max')">El maximo de procesos es 50</li>
  </ul>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="cantProcess">Cantidad de procesos</span>
    </div>
    <form [formGroup]="cantProcesosForm">
    <input type="number" class="form-control" aria-label="cantProcess"
      aria-describedby="cantProcess" step="1"
      formControlName="cantProcesos"
      >
    </form>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="exitModal()" [disabled]="!cantProcesosForm.valid">Guardar</button>
</div>
