<div class="modal-header">
  <h4 class="modal-title">Proceso Nuevo</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="exitModal()"></button>
</div>
<div class="modal-body">
  <div class="alert alert-danger" *ngIf="formProcess.hasError('invalidOperator')">No puede hacer divisiones entre 0</div>
  <div class="alert alert-danger" *ngIf="formProcess.hasError('invalidId')">El ID ya existe</div>
  <form [formGroup]="formProcess">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="id-process">ID del Proceso</span>
      </div>
      <input type="number" class="form-control" placeholder="ID del proceso" aria-label="id-process"
        aria-describedby="id-process" step="1" formControlName="id">
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="developer">Nombre del Programador</span>
      </div>
      <input type="text" class="form-control" placeholder="Nombre" aria-label="developer"
        aria-describedby="developer" formControlName="developer">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label for="operation" class="input-group-text" id="operation-label">Operación a Realizar</label>
      </div>
      <select formControlName="operation" id="operation" class="form-control">
        <option value="+">Suma +</option>
        <option value="-">Resta -</option>
        <option value="*">Multiplicación *</option>
        <option value="/">Division /</option>
        <option value="%">Modulo %</option>
        <option value="%%">Porcentaje %</option>
      </select>
    </div>

    <div class="row">
      <div class="input-group mb-3 col">
        <div class="input-group-prepend">
          <span class="input-group-text" id="operator1">Operador 1</span>
        </div>
        <input type="number" class="form-control" aria-label="operator1"
          aria-describedby="operator1" step="0.001" formControlName="operator1">
      </div>
      <div class="input-group mb-3 col">
        <div class="input-group-prepend">
          <span class="input-group-text" id="operator2">Operador 2</span>
        </div>
        <input type="number" class="form-control" aria-label="operator2"
          aria-describedby="operator2" step="0.001" formControlName="operator2">
      </div>
    </div>

    <div class="alert alert-danger" *ngIf="formProcess.get('time')?.hasError('min')">El tiempo debe ser mayor que 0.</div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="time">Tiempo Maximo Estimado</span>
      </div>
      <input type="number" class="form-control" placeholder="Tiempo Maximo Estimado" aria-label="time"
        aria-describedby="time" step="1" formControlName="time">
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="saveProcess()" [disabled]="formProcess.invalid">Guardar</button>
</div>
