<div class="row m-1">
  <div class="col-3">
    <div class="card">
      <div class="card-header">
        <span class="fw-bold">Procesos Pendientes:  <i class="fa-solid fa-person-circle-question"></i></span>
      </div>
      <div class="card-header">
        <span>Procesos en estado LISTO: <i class="fa-solid fa-person-circle-exclamation"></i></span>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-sm table-striped table-hover rounded text-center">
          <thead class="align-middle table-dark">
            <tr>
              <td>ID de Programa</td>
              <td>Tiempo Maximo Estimado</td>
              <td>Tiempo Ejecutado</td>
            </tr>
          </thead>
          <!-- <tbody *ngIf="processPendigsOfCurrentBatch$ | async as processes" >
            <tr *ngFor="let process of processes">
              <td>{{ process.id }}</td>
              <td>{{ process.time }}</td>
              <td>{{ process.timeExecution }}</td>
            </tr>
          </tbody> -->
        </table>
        <!-- <div class="d-flex justify-content-betweend">
          <ngb-pagination [page]="1" [pageSize]="5" [collectionSize]="11" size="sm"
            class="d-flex justify-content-center"></ngb-pagination>
        </div> -->
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">
        <span>Proceso en ejecución <i class="fa-solid fa-person-running"></i></span>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-dark table-sm table-striped rounded text-center ">
          <thead class="align-middle">
            <tr>
              <td>ID de Programa</td>
              <!-- <td>Nombre del Programador</td> -->
              <td>Operacion a Realizar</td>
              <td>Tpo. Max. Estimado</td>
              <td>Tpo. ejecucion</td>
              <td>Tpo. por ejecutar</td>
            </tr>
          </thead>

        </table>

      </div>
      <!-- <div class="card-footer" *ngIf="currentProcessRunning$ | async as process"> -->
        <!-- <progressbar type="success" [value]="(process.timeExecution$ |async) ? process.timeExecution : 0" [max]="process.time"[striped]="true" [animate]="true"> -->
        <!-- </progressbar> -->
      <!-- </div> -->
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-header">
        <span>Procesos terminados <i class="fa-solid fa-person-circle-check"></i> | <i class="fa-solid fa-person-circle-xmark"></i></span>
      </div>
      <div class="card-body table-responsive p-0">
        <table class="table table-dark table-sm table-striped table-hover rounded">
          <thead class="text-center align-middle">
            <tr>
              <td>ID de Programa</td>
              <td>Operacion Realizada</td>
              <td>Datos ingresados</td>
              <td>Resultado obtenido</td>
            </tr>
          </thead>

          <tfoot class="table-light">
            <tr class="text-center">
              <td colspan="2">'%' => MODULO</td>
              <td colspan="2">'%%' => PORCENTAJE</td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="position-absolute bottom-0 start-0 rounded-circle m-5">
    <span class="btn btn-secondary"><i class="fa-solid fa-clock"></i> Contador Global: {{ counterGlobal$() }}</span>
</div>

<div class="dropup position-absolute bottom-0 end-0 rounded-circle m-5">
  <button type="button" class="btn btn-success btn-lg rounded-circle  hide-toggle" data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">
    <i class="fa-solid fa-plus"></i>
    <span class="d-none">Add Category</span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <button class="dropdown-item text-danger">
        <i class="fa-solid fa-circle-exclamation"></i>
        Reiniciar?</button>
    </li>
    <li>
      <button class="dropdown-item">
        <i class="fa-solid fa-circle-play"></i>
        Iniciar Procesamiento</button>
    </li>
    <li><hr class="dropdown-divider"></li>
    <li>
      <button class="dropdown-item">
        <i class="fa-solid fa-plus"></i>
        Añadir Procesos nuevos</button>
    </li>
  </ul>
</div>
