<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Añadir procesos</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="exit()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="numberProcess.touched && numberProcess.invalid"
    class="alert alert-danger" role="alert">
      <ul>
        <li *ngIf="numberProcess.hasError('required')">El campo es requerido</li>
        <li *ngIf="numberProcess.hasError('min')">El numero minimo de procesos es 1</li>
        <li *ngIf="numberProcess.hasError('max')">El numero maximo de procesos es 50</li>
        <li *ngIf="numberProcess.hasError('pattern')">Ingrese solo numeros enteros</li>
      </ul>
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Cantidad de Procesos</span>
      <div class="form-floating">
        <input type="number" class="form-control" placeholder="Cant. Procesos" [formControl]="numberProcess" />
        <label>Cantidad de Procesos</label>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="numberProcess.invalid" (click)="addProcess()">Guardar</button>
  </div>
</div>
